:root {
  --background-main: #1a21ff;
  --text-color: #fff;
  --text-font: ;
}

html {
  height: 100%;

}
body {
  background-color: var(--background-main);
  color: var(--text-color);
  font-family: Objectsans, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  display: grid;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}

body::-webkit-scrollbar{
    display: none !important;
}

h1 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
}
h2 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: Objectsans, sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
  -o-object-fit: fill;
  object-fit: fill;
}

h3 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: Objectsans, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: underline;
}

.nav-bar {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.dropdown-toggle::after{
    display: none;
}

.a-nav {
  position: relative;

  z-index: 1000;
}
.navwrap {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: block;
  margin-right: 20px;
  padding: 0px;
  color: var(--text-color);
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  line-height: 16px;
}

.a-nav-link {
  position: relative;
  vertical-align: top;
  margin-left: auto;
  text-align: left;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}
.section.navsection {
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: space-between;
}
.section {
  position: relative;
  padding: 0 36px 0 36px;
}
.a-navbar-brand {
  position: relative;
  float: left;
  text-decoration: none;
}
.navmenu {
  align-items: center;
}

.a-navmenu {
  position: relative;
  float: right;
}

.linkswrap {
  display: flex;
  align-items: center;
}

.nav-dropdown {
  display: block;
}

.a-dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}

.dropdown-toggle {
  display: flex;
  margin-right: 32px;
  padding: 12px 16px 12px 0px;
  align-items: center;
  color: var(--text-color);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.a-dropdown-toggle {
  user-select: none;
  cursor: pointer;
}

.a-dropdown-toggle {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
  margin-left: auto;
  white-space: nowrap;
}

.dropdownicon {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  margin-top: auto;
  margin-right: 0px;
  margin-bottom: auto;
  padding-bottom: 4px;
}

.button {
  position: relative;
  display: flex;
  padding: 14px 20px 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.button.navbutton {
  align-items: right;
  text-align: end;
}
.a-inline-block {
  max-width: 100%;
}

.button:hover {
  border-color: #fff;
  background-color: #fff;
  color: #1a21ff;
}
.heromain {
  display: flex;
  height: 50vh;
  min-height: 600px;
  padding-top: 48px;
  padding-bottom: 48px;
  align-items: center;
}

.herobody {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
}

.herowrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.herotext {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  text-align: center;
}

.highlight {
  position: relative;
}
#highlight::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0px;
  bottom: 6px;
  left: -20px;
  z-index: -1;
  display: block;
  overflow: visible;
  background: url(https://assets.website-files.com/5f10771cbfea70224f1ce526/5f135815ce36dfb754e61f80_Vector%201.svg)
    center center no-repeat;
  background-size: contain;
}

.wrap {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  max-width: 1246px;
  padding-top: 108px;
  padding-bottom: 108px;
}

.wrap.sellingwrap {
  max-width: 1246px;
  padding-top: 56px;
  padding-bottom: 64px;
}

.sellingtext {
  max-width: 940px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.sellingimage {
  padding-right: 16px;
}

.sellingimage.sellingimagefull {
  position: absolute;
  left: -253px;
  top: -98px;
  right: auto;
  bottom: auto;
  width: 1190px;
  display: grid;
}

.sellingleft {
  position: relative;
  z-index: 5;
  width: 100%;
  margin-bottom: 100px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
}

.a-selling-left {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
}

.col1 {
  align-self: center;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}

.sellingcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bussinesswrap {
  position: relative;
  margin-top: 48px;
}
.sellingbody {
  margin-bottom: 32px;
}

.testimonialwrap {
  
  align-self: center;
  text-align: center;
}
.headline {
  margin-top: 0px;
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
}

.centered {
  text-align: center;
}

.whygrid {
  display: grid;
  width: 100%;
  margin-top: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.cardcolumn {
  grid-row-start: span 1;
  grid-column-start: span 4;
  grid-column-end: span 4;
}

.cardstyle {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 8px;
  text-decoration: none;
}
.cardstyle.cardcolor {
  background-color: #0e0066;
  box-shadow: none;
  color: #fff;
}

.itemwrap {
  padding: 32px 32px 16px;
}

.subtitle1 {
  margin-top: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.subtitle.whyheadline {
  margin-bottom: 16px;
}

.whycoverpic {
  width: 65%;
  margin-top: 32px;
  margin-bottom: 16px;
  align-self: center;
}

.unstyled-list {
  padding-left: 0;
  list-style: none;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.list {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.whyicon {
  margin-right: 12px;
  margin-bottom: 2px;
}

.body2 {
  font-family: Objectsans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.cardcolorwhite {
  background-color: #fff;
}
.itemblue {
  color: #0e0066;
}

.wrap.centerwrap {
  max-width: 768px;
  padding-top: 72px;
  padding-bottom: 0px;
  text-align: center;
}

.headline2 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: Objectsans, sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
}

.processgrid {
  max-width: 820px;
  margin-bottom: 32px;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.layout1 {
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;

  grid-column-end: 4;
  align-self: center;
}

.head3 {
  margin-bottom: 0px;
  font-family: Objectsans, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

.arrowstyle {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: center;
}
.timearrow {
  margin-bottom: -10px;
}

.timearrow.bottomarrow {
  margin-top: -10px;
  margin-bottom: 0px;
}

.layout2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
  align-self: center;
}

.arrowstyle2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 8;
  justify-self: start;
  margin-bottom: 5px;
}

.layout3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 9;
  align-self: center;
}
.circle {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 9;
  justify-self: center;
}
.timelist {
  margin-top: 16px;
  padding-left: 0px;
}

.list.listcenter {
  justify-content: center;
}

.whyicon.whiteprocessicon {
  margin-bottom: 4px;
}

.bodystyle {
  z-index: 2;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
}

.buygrid {
  display: grid;
  width: 100%;
  margin-top: 88px;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.buylayout1 {
  grid-row-start: span 1;

  grid-row-end: span 1;

  grid-column-start: span 2;

  grid-column-end: span 2;
}

.buywrap {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.buyicon {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.body3b {
  margin-bottom: 4px;
  font-family: Objectsans, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.body3{
    font-family: Objectsans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

}

.buylayout2{
    grid-row-start: span 1;
  
    grid-row-end: span 1;
   
    grid-column-start: span 2;
   
    grid-column-end: span 2;
}

.buylayout3{
  
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.buylayout4{
        grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.buylayout5{
        grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.buylayout6{
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.buylayout7{
        grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.threecolwrap{
    width: 100%;
    margin-top: 96px;
    grid-column-gap: 60px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.threecoltextwrap{
    text-align: center;
}

.threecolimage{
    z-index: 1;
    width: 90%;
    margin-bottom: 48px;
}

.subtitle2{
    margin-bottom: 4px;
    font-family: Objectsans, sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}
p.body2{
    font-size: 15px;
}

.body4{
    margin-top: 8px;
    font-family: Objectsans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.wrap.intouchwrap{    display: -webkit-box;
    display: flex;
    max-width: 1080px;
    padding-top: 80px;
    padding-bottom: 120px;
    flex-direction: column;
    align-items: center;
    text-align: center;}

.intouch{
    font-size: 38px;
    line-height: 48px;
}

.leadwrap{
    position: relative;
    display: flex;
    padding: 42px 60px;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    color: #0e0066;
}

.leadimage{
    display: block;
    width: 250px;
    align-self: center;
    flex: 0 0 auto;
}

.leadtextwrap{
    display: flex;
    width: 630px;
    margin-top: 16px;
    margin-right: 64px;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.subtitle1.leadheadline{
    margin-bottom: 16px;
}

.leadbody{
    margin-bottom: 32px;
    font-family: Objectsans, sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.bluebutton{
    border-color: #1a21ff;
    color: #1a21ff;
}

.footerwrap{
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 120px;
}

.leadicon{
font-size: larger;
margin-left: 7px;
}

.returnlink{
    text-decoration: none;

}

.footerhead{
    display: flex;
    justify-content: space-between;
}

.brand{
    padding-left: 0px;
}

.a-brand{
    position: relative;

   float: left;
    text-decoration: none;
    color: #333333;
}


.footergrid{
 grid-column-gap: 48px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.footercol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottomlink{
    display: flex;
    margin-bottom: 8px;
    font-family: Objectsans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
}

.footercolumn.secondcolumn{
    margin-top: 32px;
}

.footerbottom{
    margin-bottom: 12px;
}

.newswrap{
    padding-top: 112px;
}

.a-form{
    margin: 0 0 15px;

}

.block{
    margin-top: 32px;
    margin-bottom: 120px;
}

.form{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.a-input{
    display: block;
    width: 100%;
    padding: 8px 12px;
    

}

.text-email{
    height: 64px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 0px;
    border: 1px none transparent !important;
    background-color: transparent;
    font-family: Objectsans, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}

input::placeholder{
    color:#fff;
    opacity: 80%;
    
}

.submitbutton{
    width: 34px;
    height: 64px;
    margin-left: 32px;
    padding-right: 17px;
    padding-left: 17px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.testwrap{
    
    display: flex;
    height: 100%;
    flex-direction: row;
   
}

.write{
    padding-top: 31px;
}

.testpic{
    width: 280px;
    height: 100%;
    align-self: stretch;
    flex: 0 0 auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}

.name{
    font-weight: 700 !important;
    font-size: 15px;
}
.testcontent{
    width: 100%;
    padding: 60px 48px;
    align-self: center;
    justify-content: stretch;
}

.testimonial{
    position: relative;
    overflow: hidden;
    max-height: 588px;
    margin-right: 16px;
    border-radius: 9px 8px 8px 9px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 2px 8px 0 rgb(0 0 0 / 8%);
    color: #0e0066;
}

.carosection{
    justify-content: center;
    align-items: center;
   
}

.carowrap{
      width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  max-width: 1246px;
  padding-top: 108px;
  padding-bottom: 108px;
}

.carocircle{
    position: absolute;
    width: 100%;
    height: 0%;
    left: 250%;
    right: auto;
    bottom: -1%;
    font-size: 45px;
}

.carocircle1{
    position: absolute;
    width: 100%;
    height: 0%;
    left: auto;
    right: 250%;
    bottom: -1%;
    font-size: 45px;
    

}
.sliderfade{
    position: absolute;
    z-index: 5;
    width: 100px;
    height: 100%;
    left: auto;
    right: 25%;
    opacity: 90%;
    background-image: linear-gradient(90deg, transparent, #1a21ff);
    background-image: --webkit-gradient(linear, right top, left top, from(#1a21ff), to(rgba(26, 33, 255, 0)));
}

.leftfade{
    left: 25%;
    top: 0%;
    right: auto;
    bottom: 0%;
    background-image: linear-gradient(270deg, transparent, #1a21ff);
    background-image: --webkit-gradient(linear, right top, left top, from(#1a21ff), to(rgba(26, 33, 255, 0)));

}

form::after{
    border: none;
}

input{
    color: #fff;
    border: none;
}
